language: c

script:
- unset JRUBY_OPTS
- test -f ~/.rvmrc && cat ~/.rvmrc || true
- ./build.sh

cache: ccache

jobs:
  include:
  - os: freebsd
    dist: freebsd
    before_install:
      - freebsd-version
    name: FreeBSD
  - os: linux
    sudo: required
    dist: precise
    name: precise
    group: edge
    before_script: "gpg --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3"
  - os: linux
    dist: trusty
    name: trusty
    before_script:
      - 'echo -e "gem-wrappers\nrubygems-bundler\nbundler\nrake\nrvm\n" >> ~/.rvm/gemsets/global.gems'
      - "gpg --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3"
      - "sudo apt-get install haveged"
      - "sudo service haveged start"
    services: docker
  - os: linux
    dist: xenial
    name: xenial
    language: generic
    before_install:
      - |
         sudo systemctl stop apt-daily.service &&
         sudo systemctl kill --kill-who=all apt-daily.service &&
         while ! (systemctl list-units --all apt-daily.service | fgrep -q dead) ; do
           sleep 1
         done
    before_script:
      - 'echo -e "gem-wrappers\nrubygems-bundler\nbundler\nrake\nrvm\n" >> ~/.rvm/gemsets/global.gems'
      - "gpg --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3"
      - "sudo apt-get install haveged"
      - "sudo service haveged start"
  - os: linux
    dist: bionic
    name: bionic
    language: minimal
    group: dev
    before_install:
      - |
         sudo systemctl stop apt-daily.service &&
         sudo systemctl kill --kill-who=all apt-daily.service &&
         while ! (systemctl list-units --all apt-daily.service | fgrep -q dead) ; do
           sleep 1
         done
    before_script:
      - 'echo -e "gem-wrappers\nrubygems-bundler\nbundler\nrake\nrvm\n" >> ~/.rvm/gemsets/global.gems'
      - "gpg --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3"
      - "sudo apt-get install haveged"
      - "sudo service haveged start"
  - os: osx
    before_install:
      - sw_vers
      - unset -f cd
    install:
      - unset -f pushd
      - unset -f popd
    osx_image: xcode6.4
    name: '10.10'
    cache: &osx_cache
      ccache: true
      directories:
        - /usr/local/Cellar/python
        - /usr/local/opt/python
  - os: osx
    before_install:
      - sw_vers
      - unset -f cd
    install:
      - unset -f pushd
      - unset -f popd
    osx_image: xcode7.3 # macOS 10.11
    name: '10.11'
    cache: *osx_cache
  - os: osx
    before_install:
      - sw_vers
      - unset -f cd
    install:
      - unset -f pushd
      - unset -f popd
    osx_image: xcode8.3 # macOS 10.12
    name: '10.12'
    cache: *osx_cache
  - os: osx
    before_install:
      - sw_vers
    osx_image: xcode9.4 # macOS 10.13
    name: '10.13'
    cache: *osx_cache
  - os: osx
    before_install:
      - sw_vers
    osx_image: xcode10.2 # macOS 10.14
    name: '10.14'
    cache: *osx_cache
  - arch: ppc64le
    dist: xenial
    language: bash
    group: edge
    name: xenial-ppc64le

before_cache:
  - echo rvm_auto_reload_flag=1 >> ~/.rvmrc

after_failure: find $rvm_path/log/ -type f | xargs ls -t | head -n 1 | xargs cat

notifications:
  email: false
